.class-area {
    display: flex;
    flex-direction: column;
}

.class-area textarea {
    background-color: var(--text-background-color);
}

.class-area button {
    justify-items: right;
}

.class-area-btn {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-left: auto;
}

.json-area {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding: 1em;
    min-width: 200px;
    border: 1px solid #88888a;
    border-radius: 0.5em;
    color: var(--bs-body-color);
    background-color: var(--text-background-color);
}

.json-area_btn {
    display: flex;  
    gap: 0.5em; 
    margin-left: auto;
}

.copy-text {
    margin-top: 1em;
    white-space: pre-wrap; 
    word-break: break-word;
    max-height: 400px;
    overflow-y: auto; 
    padding: .375rem .75rem;
    border-radius: 0.5em;
    font-family: monospace; 
}