.copy-text {
    margin-top: 1em;
    white-space: pre-wrap; 
    word-break: break-word;
    max-height: 400px;
    overflow-y: auto; 
    padding: .375rem .75rem;
    border-radius: 0.5em;
    font-family: monospace; 
}

.message-area {
    margin-top: 2em;
    white-space: pre-wrap; 
    word-break: break-word;
    max-height: 400px;
    overflow-y: auto; 
    padding: .375rem .75rem;
    border-radius: 0.5em;
    border: 1px solid #88888a;
    color: var(--bs-body-color);
    background-color: var(--text-background-color);
}