.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.home-symbol {
    font-size: 2em;
    font-family: monospace; 
}

.img {
    max-width: 100%;
}