.container-area {
    display: flex;
    flex-direction: column;
}

.container-area textarea {
    background-color: var(--text-background-color);
    min-height: 20rem;
}

.container-area button {
    min-width: 100px;
}

.container-area_btn {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-left: auto;
}

@media (max-width: 640.98px) {
    .container-area_btn {
        flex-direction: column;
        width: 100%;
        margin-top: 1rem !important;
    }  
}